@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "UD デジタル 教科書体 NK-R", "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ,
    Meiryo, Verdana, Helvetica, Arial, sans-serif;
  user-select: none;
}

img {
  width: max(4vw, 32px);
  height: max(4vw, 32px);
  margin: max(0.3vw, 1px);
}

@media (prefers-color-scheme: dark) {
}
